{
  "ProjectName": "SharpMC",
  "ProjectTemplate": "SharpMC.template",
  "Filter": "*.java",
  "RootNameSpace": "net.minecraft",
  "TargetSubDirectory": "Source\\",
  "IntermediateSubDirectory": "tlobj\\",
  "IntermediateProjectExtension": ".jtlproj",
  "SourceDirectory": "D:\\_dev\\Forge\\build\\tmp\\recompileMc\\sources\\net",
  "Verbose": true,
  "ProcessParrallel": true
}
